---
import MainLayout from "../../layouts/MainLayout.astro";
import { getEntry } from "astro:content";

const { slug } = Astro.params;

if (slug === undefined) {
    throw new Error('Slug is required');
}

const entry = await getEntry('blog', slug);

if (entry === undefined) {
    return Astro.redirect('/404');
}

const { Content } = await entry.render();

---

<MainLayout>
    <a href="articles.html" class="inline-block bg-gray-100 p-2 mb-6 hover:bg-indigo-500 hover:text-white">Back To Articles</a>
      <article>
        <h1 class="text-4xl font-bold mb-2"> The best laptops for developers in 2024</h1>
        <h3 class="text-lg mb-2">Written by John Doe on 2024-01-20</h3>
        <div class="flex flex-wrap gap-2 mb-6">
          <span
            class="px-2 py-1 bg-blue-500 text-white rounded-full text-xs hover:opacity-90"
            ><a href="">Code</a></span
          >
          <span
            class="px-2 py-1 bg-purple-500 text-white rounded-full text-xs hover:opacity-90"
            ><a href="">Programming</a></span
          >
        </div>
        <img src="images/image1.png" alt="Article Image" class="w-full h-auto rounded-xl mb-6" />
        <Content />
       
      </article>
</MainLayout>

<style is:global>
  p{
    margin: 20px 0;
  }

  h2{
    margin: 20px 0;
    font-size: 1.8rem;
  }

</style>